php_value memory_limit 25M
php_value upload_max_filesize 10M
php_value post_max_size 10M

RewriteEngine On
RewriteRule ^([a-z0-9]{2})/addclaim.api$ ./index.php?version=$1 [L,NC,QSA]
RewriteRule ^([a-z0-9]{2})/([a-z0-9]{32})/claim.html$ ./claim.php?version=$1&key=$2 [L,NC,QSA]


